* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.main1 {
  position: absolute;
  top: 9%;
  /* z-index: -1; */
}


video {
  position: absolute;
  width: 100%;
  height: 100%;
  /* border: 2px solid red ; */
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -10;

}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  mix-blend-mode: overlay;

}


.content {
  display: flex;
  flex-direction: column;
  width: 90%;
  /* border: 1px solid blue; */
  height: 80vh;
  margin: auto;
  justify-content: center;
  color: white;
  z-index: 100;
}

.content h2 {
  font-size: 4rem;
}

.content h3 {
  font-size: 2.2rem;
  padding: 0.5rem 0rem;

}

.content p {
  font-size: 1rem;
  padding: 0.5rem 0rem;
  width: 50%;
}

@media (max-width:390px) {
  .content h2 {
    font-size: 2.5rem;
  }

  .content h3 {
    font-size: 1.5rem;
  }
}

.content__link {
  text-decoration: none;
  color: white;
  z-index: 100;
  font-size: 80%;
  width: 13%;
  margin: 1rem 0rem;
  padding: 0.5rem;
  text-align: center;
  background-color: rgb(75, 65, 65);
  transition: 0.3s;
}

@media (max-width:768px) {
  .content__link {
    width: 30%;
  }

  .content p {
    width: 100%;
  }
}


.content__link:hover {
  color: white;
  letter-spacing: 0.2rem;
}

.smedia {
  width: 90%;
  margin: auto;


}

.smedia ul {
  display: flex;
  margin: 1rem 0rem;

}

.smedia li {
  list-style: none;
  margin-right: 0.8rem;
  z-index: 101;
}

.smedia li a {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: 0.5s;

}

.smedia li a:hover {
  color: rgb(255, 255, 255);

  /* margin-bottom: 1rem; */
}

.container-fluid {
  z-index: 110;
}

.nav-item {
  padding: 0 1.5rem;
}
